<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I'm a Junior Developer over at Studio Mashbo. I work with a crack team of people to produce quality web applications on time and to spec.  More importantly though we build relationships with our clients ensuring that the product delivered is exactly what they are looking for.  And we do it with a smile :) This site's here to help potential employers, or anyone, take a closer a look at who I am than a CV would allow.  My code-based work is linked to on <a href="http://www.github.com/chrisRidgers">Github</a>, while my profile on LinkedIn can be found <a href="http://lnkd.in/dFrbWN3">here</a>.</p>
  <p>Happy browsing, I'm gonna go do stuff!</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/oblivaddict"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/chrisRidgers"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:chris@digiridge.co.uk"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
