<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I'm a final year student looking forward to life after graduating.  University has been good to me but I'm ready to move on: into the world of work and away from such a consistently poor nutritional diet.  This site's here to help potential employers, or anyone, take a closer a look at who I am than a CV would allow.  My code-based work is linked to <a href="www.github.com/chrisRidgers">here</a>, while my profile on LinkedIn can be found<a href="http://lnkd.in/dFrbWN3">here</a>.</p>
  <p>Happy browsing, hope you enjoy the reading!</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/oblivaddict"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/chrisRidgers"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:chris@digiridge.co.uk"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
